body {
    text-align: center;
    background-color: #c5e8ec;
    color: #325f55;
}

h1 {
    font-family: "Reenie Beanie", regular;
}

#dice-box {
    background-color: #325f55;
    border-color: #325f55;
    border: solid;
    border-radius: 1vh;
    padding: .5vh;
    display: inline-flex;
    flex-direction: column;
    flex-flow: row wrap;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    height: 50vh;
    width: 50vh;
}

.die {
    border: solid;
    border-width: .5vh;
    border-color: #d6a14c;
    border-radius: 1vh;
    background-color: #ae5aae;
    height: 23%;
    width: 23%;
    flex: 0 1 auto;
    font-size: 7vh;
    font-family: "Special Elite", regular;
    color: #d6a14c;
    line-height: 11vh;
}


/*
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */